<div class="p-title">
  <h1 class="program-title">
    <%= @program.title %>
    (<%= @program.date %>)
  </h1>
</div>
<div class="fact-feeling">
  <h3>【放送内容】
</div>
<div>
  <%= @program.fact %>
</div>
<div class="fact-feeling">
  <h3>【視聴した感想】
</div>
<div>
  <%= @program.feeling %>
</div>